<!DOCTYPE html>
<html lang="en">

<style>
    body {
        margin: 0;
    }

    table {
        border-collapse: collapse;
        height: 100vh;
    }

    td,
    th {
        text-align: center;
        border: 1px solid black;
        margin: 0;
    }

    a {
        display: block;
        width: 21vw;
        font-size: 18px;
    }

    a[href="/"] {
        width: 14.8vw;
    }
</style>

<body>
    <table width="100%">
        <tr>
            <th>
                <h1>📚 Books</h1>
            </th>
            <th colspan="4">
                <h1>Awesome Book Catalogue</h1>
            </th>
        </tr>
        <tr>
            <td><a target="_parent" href="/">Home</a></td>
            <td><a target="main" href="/static/login.html">Login</a></td>
            <td><a target="main" href="/static/register.html">Registration</a></td>
            <td><a target="main" href="/static/catalogue.html">Catalogue</a></td>
            <td><a target="main" href="/static/cart.html">Cart</a></td>
        </tr>
    </table>
</body>

</html>