<!DOCTYPE html>
<html lang="en">

<style>
    body {
        display: grid;
        place-items: center;
        margin-top: 20vh;
    }

    tr {
        font-size: 20px;
    }
</style>

<body>
    <table cellpadding="10">
        <tr>
            <td>
                <a href="/catalogue/mca.html" target="main">MCA</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/catalogue/mba.html" target="main">MBA</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/catalogue/bba.html" target="main">BBA</a>
            </td>
        </tr>
    </table>
</body>

</html>